<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de prueba</title>
</head>
<body>
    <div className="mt-8 w-full h-64 rounded-lg overflow-hidden shadow-lg">
        <iframe
            title="Mapa PodoClinic"
            className="w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.8058746057854!2d-78.4956488!3d-0.1431105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d585189a3dc76f%3A0xd97cdfef3d8caf0f!2sPodoClinic%20EC!5e0!3m2!1sen!2sec!4v1738385872077!5m2!1sen!2sec"
            allowFullScreen
            referrerPolicy="no-referrer-when-downgrade"
        ></iframe>
    </div>    
</body>
</html>
